<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>

	{{> base/meta }}

	<link inline rel='stylesheet' href='bundle.css' />

	{{> base/font}}

	{{> base/analytics }}

</head>

<body>	
	{{> base/header }}

	<main id='content'>
		<div class='graphics'>
			{{> story/images }}
			{{> story/people }}
      {{> story/category }}
			{{> story/impact }}
      {{> story/beeswarm }}
			{{> story/outro }}
		</div>

		<div class='swiper' data-js='swiper'>
			<div class='swiper__wrapper' data-js='swiper__wrapper'>
				
				{{#each doc.slides}}
					<div class='slide slide--{{type}} {{class}}' data-js='slide' data-slide='{{slide}}' data-type='{{type}}' data-trigger='{{trigger}}' data-nerd='{{nerd}}'>
					
						{{#ifEquals type 'titlecard'}}
						{{> story/intro }}
						{{/ifEquals}}

						{{#ifEquals type 'inter'}}
							{{#ifEquals media 'video'}}
								<video src='assets/videos/{{slide}}.mp4' preload autoplay loop muted poster='assets/images/{{slide}}.png'></video>
							{{/ifEquals}}
							{{#ifEquals media 'image'}}
								<img src='assets/images/{{slide}}.png' alt='{{alt}}'>
							{{/ifEquals}}

							<div class='slide__text'>
								<p>{{{text}}}</p>
							</div>
						{{/ifEquals}}

						{{#ifEquals type 'text'}}
						<div class='slide__text'>
							<p>{{{text}}}</p>
						</div>
						{{/ifEquals}}

						{{#if nerd}}
						<div class='slide__nerd' data-js='slide__nerd'>
							<p>{{{nerd}}}</p>
						</div>
						{{/if}}
					
					</div>
				{{/each}}

			</div>
		</div>

		<div class='arrows'>
			<button data-js='arrow--left' class='arrow arrow--left'><img inline src='chevron-left.svg'></button>
			<button data-js='arrow--right' class='arrow arrow--right is-visible'><img inline src='chevron-right.svg'></button>
		</div>

		<div class='nerd-mode'>
			<button data-js='nerd-mode__button' class='btn'>🤓</button>
		</div>

		<div class='progress'>
			<div class='progress__inner' data-js='progress__inner'></div>
		</div>

	</main>


	<script src='{{basepath}}assets/scripts/d3.v5.12.0.min.js'></script>
	<script src='main.js?version={{timestamp}}' async></script>
</body>

</html>