<section id='beeswarm' data-js='beeswarm'>
    <div class='beeswarm__graphic' data-js='beeswarm__graphic'>
        {{#each doc.beeswarm}}
        <h3 class='graphic__title'>{{{title}}}</h3>
        <figure class='graphic__figure' data-js='graphic__figure' data-id={{id}} lower="{{lower}}" middle="{{middle}}"
            upper="{{upper}}">

        </figure>
        {{/each}}
    </div>
</section>